
body {
  padding-top: 56px;
}


/* album css cards  */
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
/* navbard sticy navbar */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}


.nav-underline .nav-link {
  padding-top: .75rem;
      
  padding-bottom: .75rem;
  font-size: .875rem;
  color:black;
}

.nav-underline .nav-link:hover {
  color: black;
  background-color: #6c757d;
  opacity: 0.5;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}
/* crowsel images */
.carousel-caption{
  color: white;
  font-size: large;
}
/* oval Img */
.oval_img{
  width: 150px;

}
.list-section {
  background-color: #f5f5f5;
}
.list-box .list-icon i {
  display: block;
  font-size: 24px;
  margin-right: 15px;
  color: #F28123;
  width: 65px;
  height: 65px;
  text-align: center;
  line-height: 60px;
  border: 2px #F28123 dotted;
  border-radius: 999px;
}
.pt-80 {
  padding-top: 80px;
}
.pb-80 {
  padding-bottom: 80px;
}
.list-box .content h3 {
  display: block;
  line-height: 22px;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 4px;
}
.list-box .content p {
  margin-bottom: 0px;
  opacity: 0.75;
}
 .footer_mobile{
  font-size:20px;
  font-weight:600;
  height: 100px;
  color:white;
  opacity: 1.5;
  background-color: rgba(70, 151, 127, 0.877);
  margin-top: 30px;
  margin-right: 10px;
  text-align:end;
  padding-bottom: 0rem!important;
  } 

  .footer_mobile desktop{
margin-top: 10px;
padding: 20px;

  }
  .album h1{
    font-size: calc(5.375rem + -1.5vw);
  text-align: center;
  color: whitesmoke;
  }
  .container_main{
    /* background: #000; */
    margin-top: 100px;
    margin-bottom: 2px;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    /* margin: 25px; */
   
    background-clip: border-box;
    /* border: 0 solid rgba(0,0,0,.125); */
    /* border-radius: 0.25rem; */
  }
  .container h2{
    color: brown;
    text-align: center;
    font-size: 50px;
  }
  .Daily{
    outline: 2px solid red;
  }
  .card_main{
    /* background-color:red; */
    align-items: center;
    /* border: 2px solid red; */
  }
  
  .card_main-title{
    background-color: none;
    text-align: center;

  }
  .card_main_text {
    background-color:none;
    
  }
  .card_main_img{
    margin: 10px;
    margin-left: 25%;
    background-color:#fff;
    border-radius: 116px;
    height: 100px;
    width: 100px;
    font-size: 2rem;
    text-align: -webkit-center;
  }
 
.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: #6f42c1; }

.rounded-pill {
  border-radius: 50rem!important;
  width: 62px;
  margin: 4px;
}
.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: #6f42c1; }

.banner{
  margin-top: 10px;
 margin-top: 10px;
  margin-bottom: 10px;
}
/* banner slider */
.banner_slider {
  position: relative;
  z-index: 2;
  /* top: 30px; */
  /* border: 2px solid green; */
  /* height: 2.75rem;*/
  overflow-y: hidden; 
}

.banner_slider .banner_list {
  display: flex;
  flex-wrap: nowrap;
  margin-top: -1px;
  margin-bottom:   1px;
  overflow-x: auto;
  /* color: rgba(255, 255, 255, .75); */
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
/* .shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  border-radius: 12px;
  margin-left: 15px;
  margin-right: 20px;
} */
.shadow-mobile {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  border-radius: 12px;
  /* margin-left: 15px;
  margin-right: 20px; */


}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}

/* mobile-L size 425 */

@media (max-width: 425px) {
    .d-flex {
    display: flex!important;
    margin-left: 20px;
}
  .Daily{
    outline: 0px solid red;
  }
  
    .container h2 {
      color: brown;
      background-color: burlywood;
      text-align: center;
      font-size: 33px;
  }
    .album h1{
      font-size: calc(2.375rem + -1.5vw);
    text-align: center;
    margin-top: 10px;
    }
   
    

    .w-100 {
      width: 100%!important;
      max-height: 262px;
  }
  .banner img{
    height:175px
  }

  .rounded-pill {
    border-radius: 50rem!important;
    width: 62px;
    margin: 4px;
  }
  .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
    /* .col {
      flex: 1 0 0%;
  }
   */
   /* this is change the card size  using flex .row-cols-1 look effect using take 0 and d flex*/
    .row-cols-1>* {
      flex: 0 0 auto;    
      width:50%;          
    }
    .d-flex {
      flex-wrap: wrap;
    }
    .card_main{
      padding: 10px;
      background-color: antiquewhite;
     align-items: center;
     border: 2px solid red;
   }
   /* .resize_image{
     background-color:red;
      height: 150px;
   } */
   .card_main_img {
    margin: 10px;
    margin-left: 20%;
    background-color:red;
    border-radius: 116px;
    height: 100px;
    width: 100px;
    
}
   
    .card-body {
      flex: 1 1 auto;
      background: turquoise;
      padding: 1rem 0.1rem;
    }
    
   .card-body p{
             background-color: blanchedalmond;
              display: none;
      }
     
      .small, small {
        font-size: .875em;
        margin-left: 67px;
    }
    .btn-group-sm>.btn, .btn-sm {
      text-align: center;
      padding: 0.25rem 0.5rem;
      margin-left: 35px;
      font-size: 0.875rem;
      border-radius: 1.2rem;
  }
  
    .footer_mobile{
      font-size:15px;
    width: 100%;
    height: 50px;
    font-weight: 600;
    color: white;
    background-color:black;
    text-align:center;
    padding-bottom: 0rem!important;
    }
    .desktop{
      padding:1px;;
      
    }
}


/* small size mobile j2 */
@media (max-width:375px) {
   .container h2 {
    color: brown;
}
  .footer_mobile{
  background-color: #007bff;
  }
  .price {
    line-height:22px;
    margin-left: 50px;
}
  
  .d-flex {
     
    margin-left: 0px;
    font-weight: bold;
}
.text-muted {
     color:black!important; 
}
.btn-group-sm>.btn-sm {
    margin-left: 15px;
   
}
  

}

  /* new Css navbar below css */
   html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 56px;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}

