
#bodytag{
    background-color:white;
   width:500px;
   height:500px;
   }
   
   
   form {
     /* background-color: black; */
       padding: 10px;
       width:400px;
        height: 300px;; 
       align-items: center;

   }
   form p{
       color: white;
   }
   
   #fname{
       margin-top: 10px;
   background-color: none;
       padding: 2px;
   width:200px;
   }

   .parent_one {
    color:orange;
    background-color: red;
    margin: 2px;
    font-size: 25px;
    display: flex;
    flex-direction: row-reverse;
    
    
}
.second div{
    -ms-flex: 1;  /* IE 10 */  
  flex: 2;


}

.parent_two {
    color:orange;
    background-color: burlywood;
    margin: 2px;
    font-size: 25px;
    display: flex;
    flex-direction: row-reverse;
    
    
}
/*  */



.content,
.content1,
.content2 {
  color: #fff;
  font: 100 24px/100px sans-serif;
  height: 150px;
  width: 897px;
  text-align: center;
}

.content div,
.content1 div,
.content2 div {
  height: 50%;
  width: 300px;
}
.red {
  background: orangered;
}
.green {
  background: yellowgreen;
}
.blue {
  background: steelblue;
}
/* Flexbox Styles */
.content {
    display: flex;
    flex-wrap: wrap;
  }
  .content1 {
    display: flex;
    flex-wrap: nowrap;
  }
  .content2 {
    display: flex;
    flex-wrap: wrap-reverse;
  }
  /* media query */
  @media (min-width:320px)  {
       /* smartphones, iPhone, portrait 480x320 phones */
       .check {
           background-color: chartreuse;
           width: 500px;
       }

       .parent_one {
        color:orange;
        background-color: red;
        margin: 2px;
        font-size: 25px;
       
        
        
    }

    @media only screen and (max-width: 600px) {
        body {
          background-color: black;
        }
      }
    
    
    }