body {
    font-family:auto;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  .theader{
    background-color:#2170AC;;
    color: #fff;
  }
  .question{
    font-weight: bold;
  }

  .sr_no{
    width: 55px;
    font-weight: bold;
  }
  .sr{
    text-align: center;
    font-weight: bold;
  }

  .qlist{
    font-size: 21px;
    padding: 12px;
    font-weight: bold;
    color: black;
  }
  .option{
    width: 200px;
    text-align: center;
    font-weight: bold;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .btn-div{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn{
    width: fit-content;
    background-color: #2170AC;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #fff;
    margin-bottom: 50px;
    padding: 10px;
    font-weight:bold;
  }

  .btn-div .btn:hover{
    background-color:#fff;
    color: #2170AC;
    cursor: pointer;
    border: 2px solid #2170AC;
    font-weight:bold;
  
  }

  #Div2 {
    display: none;
    margin-top:150px;
  }