* {
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: auto;
  }
  
  .logo img {
    width: 150px;
    height: 150px;
  }
  
  .form-label {
    margin-bottom: 0.5rem;
    font-size: 20px;
  }
  /* register css start */
  .form-container {
    justify-content: center;
  }
  .btn {
    background-color: #2170ac;
    border-color: #2170ac;
    border: 2px solid #2170ac;
    padding: 7px 60px;
    color: #fff;
  }
  
  label {
    display: inline-block;
    font-size: 20px;
    color: #2170ac;
  }
  .company-detail{
    margin-right: 50px;
  }

  /* media query */
  @media only screen and (max-width: 600px) {
    .index-log{
      margin-top: -65px;
}
.logo-text{
  display: none;
}
.img{
  display: none;
}
.company-detail{
  margin-right: 0px;
}

.text-end {
  text-align: center !important;
}
.mob{
  display: none;
}

.btn {
     
  padding: 0px 24px;
  color: #fff;
}

  }
  